<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Harwator - Comparador de precios de hardware</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="{{asset('css/style.css')}}"/>
   <link rel="stylesheet" href="{{asset('css/styleLogin.css')}}"/>
   <script type="text/javascript" src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('js/jquery-ui.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('js/jquery-loadmore.js')}}"></script>
</head>
<body>
   <header>
      {% block header%}
      
      <div class ="row header">
         <div class="col-md-2">
            <img class="icon-header" src="{{asset('img/phone.png')}}">
            <div class="text-icon">(+34)666112233</div>
         </div>
         <div class="col-md-2">
            <img class="icon-header" src="{{asset('img/mail.png')}}">
            <div class="text-icon">harwator@iam.cat</div>
         </div>
         <div class="col-md-6">
            <div></div>
            <div class="text-icon"></div>
         </div>
         <div class="col-md-2" >
            <img class="icon-header" src="{{asset('img/login.png')}}">
            <div class="text-icon"><a href="/login">Acceso Usuarios</a></div>
         </div>
      </div>
      <div class="row logo-search">
         <div class="col-md-6">
            <div class="logo">
               <a href="/"><img src="{{asset('img/Logo_HW.png')}}"></a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="search">
               <form action="/search" method="GET">
                  <img src="{{asset('img/lupa.png')}}">


                  <input type="text" name="search" value="{{ app.request.get('search') }}">
                  <img class="x" src="{{asset('img/x.png')}}">
               </form>
            </div>
         </div>
      </div>
      <div class="row menu">
         <ul>
            <li class="col-md-4">HARDWARE</li>
            <li class="col-md-4">BLOG</li>
            <li class="col-md-4">CONFIGURADOR</li>
         </ul>
      </div>
      <div class="banner">
         <div class="centro"><h1>HARWATOR</h1>
         <h2>¿Cuánto pagarias por tu próximo ordenador?</h2></div>
      </div>
      {%endblock%}
   </header>
   {% block body%}
   <div class="container">
      <div class="row">
         <div class="col-md-2">
            {% block sidebar %}{%endblock%}
         </div>
         <div class="col-md-10">
            {% block content %}{%endblock%}
         </div>
      </div>
   </div>
   {%endblock%}
   <footer>
      {%block footer%}
      <div class="row footer">
         <div class="col-md-3">
            <div>Sobre Nosotros</div>
         </div>
         <div class="col-md-3">
            <div>Síguenos en FB</div>
         </div>
         <div class="col-md-3">
            <div>Contacto</div>
         </div>
         <div class="col-md-3">
            <div>Politica privacidad</div>
         </div>   
      </div>
      <div class="row footer2">
         <div class="col-md-12"> © 2017 Harwator -  All Rights Reserved</div>   
      </div>
      {%endblock%}
      {%block javascripts%}
      <script type="text/javascript"></script>
      {%endblock%}
   </footer>
</body>
</html>

