{% block body %}

   {% for name in names %}
       <p> {{name}}</p>
   {% endfor %}
    {% for price in prices %}
        <p>{{price}}</p>
   {% endfor %}
    {% for link in links %}
        <p>{{link}}</p>
   {% endfor %}
{% endblock %}