<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{asset('css/styleComparar.css')}}"/>
      <script type="text/javascript" src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('js/jquery-ui.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('js/compararJQ.js')}}"></script>
   </head>
{# app/Resources/views/default/comparar.html.twig #}
<body>
{% block body %}
<h1>Form values</h1>
<div>
    <form name="input" action="" method="post">

       Tipo de producto:
        <select name="tipo">
			<option value="3">Tarjeta gráfica</option>
			<option value="pr">Procesador</option>
			<option value="pb">Placa base</option>
			<option value="tr">Torre</option>
		</select>
		<select name="tienda1">
			<option value="1">Pc Componentes</option>
			<option value="2">Amazon</option>
		</select>
		<select name="tienda2">
			<option value="1">Pc Componentes</option>
			<option value="2">Amazon</option>
		</select>

        <input type="submit" name="submit" value="Submit">

    </form>
</div>
<h2>Posibles iguales</h2>
<table border="2">
	<tr>
		{% for recomendado in recomendados %}
			<tr><td>{{recomendado.resultT1}}</td>
			<td>{{recomendado.resultT2}}</td>
			<td>{{recomendado.percent}}</td>
			
			<form action="/productosIguales" method="GET">
			<input type="text" name="primero" value="algo"  style="display: none;"/>
			<input type="text" name="segundo" value="algo2" style="display: none;"/>
			<td><input type="button" value="Coinciden!"/></td></tr>
			</form>

		{% endfor %}
	</tr>
</table>

<hr>
<h2>Tabla de resultados</h2>
<table border="2" style="float: left; max-width: 50%">
	<tr>
   	{% for productoT1 in productosT1 %}
  		<tr><td class="producto1">{{productoT1}}</td></tr>
    {% endfor %}
   	</tr>
</table>
<table border="2" style="float: right; max-width: 50%">
	<tr>
    	{% for productoT2 in productosT2 %}
        	<tr><td class="producto2">{{productoT2}}</td></tr>
   		{% endfor %}
   	</tr>
</table>
<div class="fixedOnTop"><table id="sendProducts" border="2">
<tr><td><button class="sendToDB" onclick="sendSelectedProducts()">ENVIAR A LA BASE DE DATOS</button></td></tr>
</table></div>
<div class="fixedFooter"><table id="compararTable" border="2">
<tr><td><span id="producto1"></span></td><td> --> </td><td><span id="producto2"></span></td><td><button class="submitIguales">ACEPTAR</button></td></tr>
</table></div>
{% endblock %}
</body>
</html>