{% extends 'base.html.twig' %}
{% block sidebar %}
	<div class="categorias row">
		<h2>Categorias</h2>
		<ul>
		{% for categoria in categorias %}
			<li><a href="/categoria/?categoria={{categoria.categoria}}">{{categoria.categoria}}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block content %}
		<div class="productos row">
			<h2>{{categoria}}</h2>
		{% set p = 0 %}
		{% set row = 0 %}
    	{% for producto in productos %}

    		{% if p <= 5 and row == 0 %}
    		{% set p = p + 1 %}
    		{% endif %}

     			<div class="producto col-md-3">
     				<a href="/producto/?producto={{producto.idproducto}}">
     					<img src="{{asset('img/productosimg/' ~ producto.imagen ~ '.jpg')}}"></img>
     				</a>
     				{% if producto.idcategoriafk == 1 %}
			  		  	<img class="icon-cat" src="{{asset('img/mothericon.png')}}"></img>
					{% elseif producto.idcategoriafk == 2 %}
			    		<img class="icon-cat" src="{{asset('img/cpuicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 3 %}
			    		<img class="icon-cat" src="{{asset('img/vgaicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 4 %}
			    		<img class="icon-cat" src="{{asset('img/ramicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 5 %}
				    	<img class="icon-cat" src="{{asset('img/hdicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 6 %}
				    	<img class="icon-cat" src="{{asset('img/falimentacionicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 7 %}
				    	<img class="icon-cat" src="{{asset('img/disicon.png')}}"></img>
					{% elseif producto.idcategoriafk == 8 %}
			    		<img class="icon-cat" src="{{asset('img/boxicon.png')}}"></img>
					{% endif %}
     				<a href="/producto/?producto={{producto.idproducto}}">
     					<div class="index-product-description">{{producto.producto}}</div>
     				</a>
     				<div>Precio:<span class="precio">{{producto.precio}}€</span></div>

     			</div>
    	{% endfor %}
    	</div>
    	{% if productos|length > 10 %}
    	<div class="col-md-3 col-md-offset-3">
    		<div class="centrar">
    			<button id="loadMore" class="btn btn-lg btn-primary btn-block">Cargar mas</button>
    		</div>
    	</div>
    	{% endif %}
{% endblock %}