{% extends 'base.html.twig' %}
{% block sidebar %}
	<div class="categorias row">
		<h2>Categorias</h2>
		<ul>
		{% for categoria in categorias %}
			<li><a href="/categoria/?categoria={{categoria.categoria}}">{{categoria.categoria}}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block content %}
		<div class="productos row">
			<h2>{{categoria}}</h2>
			<img class="notfound" src="{{asset('img/notfound.png')}}"/>
    	</div>
    	{% if productos|length > 10 %}
    	<div class="col-md-3 col-md-offset-3">
    		<div class="centrar">
    			<button id="loadMore" class="btn btn-lg btn-primary btn-block">Cargar mas</button>
    		</div>
    	</div>
    	{% endif %}
{% endblock %}