{% extends 'base.html.twig' %}
{% block sidebar %}
	<div class="categorias row">
		<h2>Categorias</h2>
		<ul>
		{% for categoria in categorias %}
			<li><a href="/categoria/?categoria={{categoria.categoria}}">{{categoria.categoria}}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block content %}
<h2>{{ nombre }}</h2>
<div class="col-md-4"><img src="{{ asset( 'img/productosimg/' ~ imagen ~ '.jpg') }}"/></div>
<div class="infoTiendas col-md-8">
	{% for dato in datos %}
		<div class="tiendaIndividual col-md-12">
		<div class="col-md-2 precioDiv"><span class="precio">{{ dato.precio }}€</span></div>
		<div class="col-md-2"><a href="{{ dato.url }}"><button class="botonTienda">Visitar tienda</button></a></div>
		<div class="col-md-2"><img class="logoTienda" src="{{ asset( 'img/' ~ dato.tienda ~ '.ico') }}"/></div>
		</div><br>
	{% endfor %}
</div>
{% endblock %}