{# app/Resources/views/admin/Genericapccomponentes.html.twig #}


{% block body %}





<table border="2" id="tabla_productos_en_bd">
<tr><td>Productos Base datos</td></tr>
{% for producto in get_Productos_bd %}
<tr><td>{{producto}}</td></tr>
{%endfor%}

</table>

<table border="2" id="tabla_productos_encontrados_pccomponentes">
<tr><td>Productos encontrados</td></tr>
{% for nombre in nombre %}
<tr><td>{{nombre}}</td></tr>
{%endfor%}

</table>


<!-- {% if productos_nuevos==false %}
<table border="2">
{% for productos_nuevos in productos_nuevos %}
<tr><td>{{productos_nuevos}}<td></tr>
{%endfor%}
{%endif%}
</table>
<table border="2">
{% for producto_existente in producto_existente %}
<tr><td>{{producto_existente}}<td></tr>
{%endfor%}

</table> -->




{% endblock %}
