body{
	font-family: ubuntu;
	margin:auto;
}
.enter{
	clear: both;
}
#tabla_productos_en_bd{
	float:left;
}
#tabla_productos_encontrados_pccomponentes{
	float: left;
}
.icon-header{
	width: 30px;
	float: left;
}
.text-icon {
	padding-top: 5px;
}
.search{
	background-color: #00D6A0;
	box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
	float: left;
	width: 90%;
	margin: 15px;
	height: 50px;
	margin-top: 37.5px;
	margin-bottom: 37.5px;
}
.search input{
	background-color: transparent;
    border: 0px solid;
	float: left;
	margin: 13px;
	width: 65%;
}
.search img{
	width: 30px;
	float: left;
	margin: 10px;
}
.x{
	float:right !important;
}
.header {
	background-color: black;
}
.header div{
	color: white;
}
.header img {
	color:white;
}
.logo img{
	width: 95%;
	height: 80%;
}

.menu{
	background-color: #2296F3;
	height: 50px;
	font-size: 20px;
}
.menu ul{
	list-style: none;
	text-align: center;
	color : white;
}

.menu ul li{
	height: 50px;
	cursor: pointer;
}

.menu ul li:hover{
	color : #0054A8;
	font-weight: bold;
}
.footer{
	background-color: black;
	color: #00D6A0;
	text-align: center;
	font-size: 20px;
}
.icon-cat{
	width: 35px;
	height: 35px;
}
.header, .logo-search, .menu,.container{
	width: 100%;
	margin: auto;
}

.side-bar, .content {
	float: left;
}

.categorias{
	margin-left: 20px;
}

.categorias ul{
	list-style: none;
	line-height: 200%;
}

.index-product-description{
	min-height: 75px;
}
.producto{
	display: none;
	margin-bottom: 15px;
}

header {
	margin-bottom: 20px;
}

h2{

	margin-bottom: 20px;
}

h2 ul li {
	margin-bottom: 15px;
}

.registration_cofirmed{
	margin: auto;
	vertical-align: center;
	text-align: center; 
	height: 200px;
	padding-top: 30px;
}

.precio{
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}

.infoTiendas{
	margin-top: 50px;
}

.centrar{
	margin: auto; 
	margin: 30px;
}

.botonTienda{
    background: linear-gradient(#0054a8, #17bebb);
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tiendaIndividual{
	margin-bottom: 20px;
}

.logoTienda{
	width: 40px;
}

.banner{
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: 50%;
	height: 450px;
	position: relative;
}

.banner h1{
	margin: 0;
	font-size: 150px;
}

.centro {
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.row{
	margin: 0;
}

.precioDiv{
	text-align: center;
}

.notfound{
	width: 50%;
	margin-left: 60px;
}