.selected{
	background-color: #FFFF00;
}
#sendProducts{
	display: none;
	margin: 0 auto;
}
#compararTable{
	display: none;
	margin: 0 auto;
	background-color: black;
	color: white;
}
.fixedFooter{
	position: fixed;
	bottom: 0;
    width: 100%;
}
.fixedOnTop{
	position: fixed;
	top: 0;
    width: 100%;
	
}
.hide{
	display: none!important;
}